.first-section {
    width: 100%;
    height: 25rem;
    box-sizing: border-box;
    display: flex;
    background: linear-gradient(-5deg, rgba(245, 244, 244, 0) 30%, #C0DBDE 70%);
    flex-direction: row;
}

.data {
    width: 50%;
    margin: 5%;
    font-size: 5rem;
}

.div-mensagem {
    width: 50%;
    border: double 20px rgba(255, 255, 255, 0.7);
    border-bottom-color: #000000;
    border-top-color: #ffffff;
    height: 6rem;
    min-height: 6rem;
    margin: 7% 5% 0 5%;
    position: relative;
    animation: border 5s 1s ease-in-out, borderColor 10s 1s ease;
}

.div-mensagem::before,
.div-mensagem::after {
    content: '';
    box-sizing: border-box;
    position: absolute;
    border: 20px solid transparent;
    width: 0;
    height: 0;
}
.p-aniversario {
    width: auto;
    max-width: 100%;
    text-align: justify;
    font-size: 8rem;
    position: absolute;
    color: #ffffff;
    top: 20%;
    right: 1%;
    text-shadow: 5px 5px 20px rgb(0, 0, 0);
}

.p-feliz {
    font-weight: bold;
    position: absolute;
    top: -55%;
    left: 1%;
    text-shadow: 5px 5px 20px rgb(255, 255, 255);
    font-size: 9rem;
}

@keyframes border {
    0% {
        width: 0;
        height: 0;
    }

    25% {
        width: 48%;
        height: 5rem;
    }

    50% {
        width: 49%;
        height: 5.5rem;
    }

    100% {
        width: 50%;
        height: 6rem;
    }
}

@keyframes borderColor {
    0% {
        border-bottom-color: rgba(255, 255, 255, 0.7);
        border-top-color: rgba(255, 255, 255, 0.7);
    }

    25% {
        border-color: transparent;
    }

    50% {
        border-bottom-color: #000000;
        border-top-color: #ffffff;
    }

    100% {
        border-bottom-color: #000000;
        border-top-color: #ffffff;
    }
}
