#topo {
    position: fixed;
    width:100%;
    top: 0;
    overflow: visible;
    z-index: 5;
    display: inline-flex;
    justify-content: space-between;
    padding: 0.9% 0;
    background-color: #C0DBDE;
}

.header-logo {
    margin-left: 2%;
    width: 48%;
}
